body {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.intro {
  width: 450px;
  grid-column-start: 2;
  justify-items: center;
  grid-column-gap: 10px;
}

.button {
  width: 450px;
  grid-column-start: 2;
  justify-items: center;
  grid-column-gap: 50px;
  justify-content: space-between;
  text-decoration: none;
}



.wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-row-gap: 2em;
  justify-items: center;
  grid-template-areas:
    "X H T"
    ". C ."

}

.count{
  grid-area: X;
}

 .header{
   grid-area: H;
   /* justify-content: space-between; */
 }

 .time {
   grid-area: T;
 }

.card {
  display: flex;
  grid-area: C;
  height: 400px;
  width: 250px;
  border: 2px solid rgb(131, 131, 131);
  justify-content: space-between;
  font-size: 3em;
  flex-direction: column;
  padding: 5px;
}

.top{
  display: flex;
  font-size: .5em;
  justify-content: flex-start;
}
.middle{
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  font-size: .5em;
}
